@model IEnumerable<TestTask.Domain.DbEntities.Customer>
@{
    ViewData["Title"] = "Index";
}
<h2>Customers</h2>

<hr />

<p>
    <a asp-action="CreateCustomer">Create New Customer</a>
</p>

<hr/>

@if (!string.IsNullOrEmpty(TempData["CustomerResult"] as string))
{
    <div class="alert alert-primary" role="alert">
        @TempData["CustomerResult"]
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMunicipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSchools)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMunicipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSchools)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCustomer", "CustomerDetails", new { customerId = item.Id }) |
                    @Html.ActionLink("Delete", "RemoveCustomer", "CustomerDetails", new { customerId = item.Id }) |
                    @Html.ActionLink("Info", "Index" ,"CustomerDetails", new { customerId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
